
/* the styles for the elements */
* {
    /* background-color: azure; */
    background-color: whitesmoke;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* the styles for the header */
header img {
    float: left;
}

/* the styles for the main content */
main {
    clear: left;
}
main h1 {
    font-size: 150%;
}
main h2 {
    color: var(--global-color-1);
    font-size: 130%;
}
main h3 {
    font-size: 105%;
}
header h2 {
    font-size: 170%;
    color: #800;
    text-indent: 30px;
}
header h3 {
    font-size: 130%;
    font-style: italic;
    text-indent: 30px;
}
/* the styles for the footer */
footer {
    text-align: center;
}

main a:link, main a:visited {
    color: rgb(70, 134, 186);
}

main a:hover, main a:focus {
    /* font-style: italic; */
    font-style: oblique -10deg;
    /* color: rgb(42, 79, 109); */
    animation-name: smoothe;
    animation-duration: 3.5s;
}
@keyframes smoothe {
    0% {color: rgb(70, 134, 186)}
    50% {color: rgb(37, 56, 125)}
    100% {color: rgb(0, 33, 60)}
}
#shadow {
    text-shadow: 1px 2px 2px #800;
}

:root {
    --global-color-1: maroon;
}
